body{
    background-color: black;
    font-family: 'Silkscreen';
}
.card-body{
    background-color: black;
    font-family: 'Silkscreen';
}

h1,h4,p{
    margin-top: 60px;
    color: beige;
    text-align: center;
}

i{
    color: beige;
}

a{
    margin-left: 70px;
    text-align: center;
    color: blue;
}
